includeConfig './configs/sge.config'


manifest {
    name                                  = 'imputeFlow'
    version                               = '1.0'
    description                           = 'A Nextflow imputation pipeline for Medical Genetics at Burlo Garofolo.'
    author                                = 'Giuseppe Giovanni Nardone'
    homePage                              = 'https://github.com/lisosome/imputeFlow'
    mainScript                            = 'main.nf'
    nextflowVersion                       = '!>=22.10.4'
}

params {


// ================================================================
//                   GENERAL INFORMATION
// ================================================================
    cohortName = "Endo"
    referencePanel = "IGRPv1"
    popGroup = "EUR"
    
// ================================================================
//                          PATHS
// ================================================================

    plink_file_name = "/netapp07/nardone/Endo_imputation/input/Endometriosi_231019_cleaned"
    outFolder = "/netapp07/nardone/test_nextflow_pipeline/output"
    releaseFolder = "/netapp07/nardone/test_nextflow_pipeline/output"
    alleleUpdate = "/shared/resources/genotyping/HumanCNV370-Quadv3_C.update_alleles.txt"
    alleleRecode = "/netapp/nfs/resources/dbSNP/human_9606_b154_GRCh37p13/GCF_000001405.25.SNPS.dbSNP154.tab"
    geneticMap = "/netapp/nfs/resources/gen_map/shapeit4"
    extAnnotation = "/netapp/nfs/resources/dbSNP/human_9606_b154_GRCh37p13/GCF_000001405.25.vcf.gz"
    refFasta = "/shared/resources/hgRef/hg19/hg19_nochr.fasta"
    ref_panel_base_folder = "/shared/resources/references/VCF"
    scriptDir = "$baseDir/script"

// ================================================================
//                          PROCESSES
// ================================================================

// CHUNK_GENERATOR
    windowSize = 5000000
    windowCount = 3000
// IMPUTE
    ne = 20000
    pbwt_depth = 8
    buffer_size = 250
    options = '--out-gp-field'
// SNP_CHECK
    shapeitGenMap = "/netapp/nfs/resources/1000GP_phase3/impute"
    refpanelBasefolder = "/shared/resources/references/HAP_LEGEND_SAMPLES"
// PLINK2VCF
    chr_rename = "$baseDir/support_files/rename_chr_hg19.txt"
// PHASE_SHAPEIT
    mcmc_iterations = "--mcmc-iterations 10b,1p,1b,1p,1b,1p,1b,1p,10m" // maxed out parameteres according to SHAPEIT4 manual. Default setting are : 5b,1p,1b,1p,1b,1p,5m
    pbwt_depth_shapeit = "--pbwt-depth 8" // maxed out parameteres according to SHAPEIT4 manual. Default setting are : 4
// PHASING
    genetic_map = "/shared/software/eagle/Eagle_v2.4.1/tables/genetic_map_hg19_withX.txt.gz"
    additional_args = "--vcfOutFormat z --noImpMissing"
// X_CHR
    x_imputation = "yes"
// TopMed imputation
    token = "/home/nardone/script/nextflow/imputeFlow/topmed.token_10052024"
    password = "4EL2UArdKFPh#rbq"
// LIFTOVER TO 37
    chain = "/shared/resources/chainfiles/hg38ToHg19.over.chain.gz"
// ================================================================
//                            TOOLS
// ================================================================

    shapeit = "/share/apps/bio/bin/shapeit"
    eagle = "/shared/software/eagle/Eagle_v2.4.1/eagle"
    impute = "/home/nardone/software/impute5_v1.1.5/impute5_1.1.5_static"
    chunker_tool = "/home/nardone/software/impute5_v1.2.0/imp5Chunker_v1.2.0_static"
    bcftools = "/share/apps/bio/bin/bcftools"
    plink = "/share/apps/bio/bin/plink"
    imputationbot = "/home/nardone/software/imputationbot/imputationbot"

    validate_params = true
    help = false
}


trace.overwrite = true
report.overwrite = true
timeline.overwrite = true
dag.overwrite = true

timeline {
  enabled = true
  file = "${params.outFolder}/imputeFlow_info/imputeFlow-nf_timeline.html"
}

report {
  enabled = true
  file = "${params.outFolder}/imputeFlow_info/imputeFlow-nf_report.html"
}

trace {
  enabled = true
  file = "${params.outFolder}/imputeFlow_info/imputeFlow-nf_trace.txt"
}

dag {
  enabled = true
  file = "${params.outFolder}/imputeFlow_info/imputeFlow-nf_dag.html"
}


plugins {
  id 'nf-schema@2.0.0'
}





















