process {
  executor = 'sge'
  scratch = true
  errorStrategy = 'finish'

  withName: INDELS_REMOVE {
  clusterOptions = "-l h_vmem=15G -q fast -pe smp 1 -V -cwd"
  }

  withName: MISSING_INDELS {
  clusterOptions = "-l h_vmem=15G -q fast -pe smp 10 -V -cwd"
  }

  withName: FURTHER_REMOVE {
  clusterOptions = "-l h_vmem=15G -q fast -pe smp 1 -V -cwd"
  }

withName: MAP_UPDATE_EXT {
  clusterOptions = "-l h_vmem=15G -q fast -pe smp 1 -V -cwd"
  }

withName: ALL_FIX {
  clusterOptions = "-l h_vmem=15G -q fast -pe smp 1 -V -cwd"
  }

withName: IMPOSSIBLE_ASSIGNMENT {
  clusterOptions = "-l h_vmem=15G -q fast -pe smp 1 -V -cwd"
  }

withName: ALL_FIX_SNP_FLIP {
  clusterOptions = "-l h_vmem=15G -q fast -pe smp 1 -V -cwd"
  }

withName: CHR_X_SPLIT {
  clusterOptions = "-l h_vmem=15G -q fast -pe smp 1 -V -cwd"
  }

withName: PLINK_SPLIT {
  clusterOptions = "-l h_vmem=15G -q fast -pe smp 1 -V -cwd"
  }

withName: ALL_FIX_SPLITTED {
  clusterOptions = "-l h_vmem=15G -q fast -pe smp 1 -V -cwd"
  }

withName: GET_DUPS {
  clusterOptions = "-l h_vmem=15G -q fast -pe smp 1 -V -cwd"
  }

withName: REMOVE_DUPS {
  clusterOptions = "-l h_vmem=15G -q fast -pe smp 1 -V -cwd"
  }

withName: SNP_CHECK {
  clusterOptions = "-l h_vmem=15G -q fast -pe smp 1 -V -cwd"
  }

withName: GET_FLIPPABLE {
  clusterOptions = "-l h_vmem=15G -q fast -pe smp 1 -V -cwd"
  }

withName: SNP_FLIP {
  clusterOptions = "-l h_vmem=15G -q fast -pe smp 1 -V -cwd"
  }

withName: RECOVER_MONO {
  clusterOptions = "-l h_vmem=15G -q fast -pe smp 1 -V -cwd"
  }

withName: COPY_BED_FAM {
  clusterOptions = "-l h_vmem=15G -q fast -pe smp 1 -V -cwd"
  }

withName: CONCATENATE_BIMS {
  clusterOptions = "-l h_vmem=15G -q fast -pe smp 1 -V -cwd"
  }

withName: PLINK2VCF {
  clusterOptions = "-l h_vmem=15G -q fast -pe smp 1 -V -cwd"
  }

withName: VCF_FIX_REF {
  clusterOptions = "-l h_vmem=15G -q fast -pe smp 1 -V -cwd"
  }

withName: VCF_ANNOTATE {
  clusterOptions = "-l h_vmem=50G -q fast -pe smp 5 -V -cwd"
  }

withName: PHASING {
  clusterOptions = "-l h_vmem=50G -q fast -pe smp 16 -V -cwd"
  }

withName: PHASING {
  clusterOptions = "-l h_vmem=50G -q fast -pe smp 16 -V -cwd"
  }

withName: CHUNK_GENERATOR {
  clusterOptions = "-l h_vmem=10G -q fast -pe smp 1 -V -cwd"
  }

withName: IMPUTE {
  clusterOptions = "-l h_vmem=15G -q fast -pe smp 4 -V -cwd"
  }

withName: CONCAT_IMPUTATION {
  clusterOptions = "-l h_vmem=5G -q fast -pe smp 1 -V -cwd"
  }

withName: CONVERT_BIMBAM {
  clusterOptions = "-l h_vmem=10G -q fast -pe smp 1 -V -cwd"
  }

withName: INFO_TO_R2 {
  clusterOptions = "-l h_vmem=10G -q fast -pe smp 1 -V -cwd"
  }

withName: IMPUTE_TAB_STATS {
  clusterOptions = "-l h_vmem=5G -q fast -pe smp 1 -V -cwd"
  }

withName: INFO_STATS_CHUNKS {
  clusterOptions = "-l h_vmem=10G -q fast -pe smp 1 -V -cwd"
  }

withName: INFO_STATS_CHR {
  clusterOptions = "-l h_vmem=10G -q fast -pe smp 1 -V -cwd"
  }

withName: ONLY_X {
  clusterOptions = "-l h_vmem=15G -q fast -pe smp 1 -V -cwd"
  }

withName: VCF_ANNOTATE_X {
  clusterOptions = "-l h_vmem=50G -q fast -pe smp 5 -V -cwd"
  }

withName: PHASE_X {
  clusterOptions = "-l h_vmem=50G -q fast -pe smp 16 -V -cwd"
  }

withName: LIFTBACK {
  clusterOptions = "-l h_vmem=15G -q fast@apollo1.burlo.trieste.it -pe smp 1 -V -cwd"
  container = "docker://lisosome/crossmap:latest"
  }

withName: INFO_STATS_CHRX {
  clusterOptions = "-l h_vmem=10G -q fast -pe smp 1 -V -cwd"
  }

withName: IMPUTE_TAB_STATS_X {
  clusterOptions = "-l h_vmem=5G -q fast -pe smp 1 -V -cwd"
  }
}


singularity {
    enabled = true
    singularity.runOptions = "--bind /shared"
}

